.htmlimg {
    width: 100px;
    height: 30px;
    margin-top: 30px;
}
.navigation{
    margin-top: 25px;
}
.navigation-a {
    padding-top: 7.5px;
    display: inline-block;
    color: #3D58A6;
    font-size: 22px;
}
.navigation-a:hover {
    color: #EE4036;
}
.bannerimg{
    margin-top: 28px;
}
.container {
    margin-left: 30px;
}
.social-a img {
    height: 30px;
}
.social-li {
    display: inline-block;
    border: ;
}
.social-a.facebook {
    padding-right: 30px;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color:#3D58A6;
    display: inline-block;
}
.social-a.youtube {
    padding-left: 30px;
}
.footer{
    margin-top: 30px;
}